@import url('https://fonts.googleapis.com/css?family=Raleway');
#call-center-container {
    opacity: 75%;
    background: rgb(233, 44, 22);
    color: #fff;
    max-width: 7rem;
    margin-top: 2.75rem;
    padding: 0.5rem;
    bottom: 5rem;
    right: 0;
    margin-left: auto;
    position: sticky;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#call-center-container>i {
    font-size: 3rem;
    margin-right: 0.5rem;
}

#call-center-container>span {
    font-size: 90%;
    font-weight: bold;
}

#call-center-container:hover {
    opacity: 100%;
}