.department-container {
    padding: 0.5rem;
    outline: none;
    display: none;
    background-color: #DDDDFF;
    width: calc(100% - 1rem);
}

.department-container .boss {
    /* font-size: 115%; */
    margin-bottom: 1rem;
}

.collapBtn {
    border: 0;
    width: 100%;
    background: #0000AA;
    color: #FFF;
    font-size: 100%;
    font-weight: bold;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
}

.collapBtn:hover {
    background: #000088;
    color: #FFF;
}