.chart-panel-container {
    margin-top: 2rem;
}

#cases-chart-1 {
    height: 30rem;
}

.container-cases {
    margin: 0.25rem;
}

.bg-green {
    background: green;
}

.bg-yellow {
    background: yellow;
}

.bg-red {
    background: red;
}

.bg-purple {
    background: purple;
}

.bg-blue {
    background: blue;
}

.bg-black {
    background: black;
}

@media (max-width: 50rem) {
    .cases-panel-container .cases-label-container {
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
    }
}