@import url('https://fonts.googleapis.com/css?family=Raleway');

.split-container {
	width: 100%;
	display: flex;
	flex-direction: row;
}


.split-container .navigation-split-container {
	width: 20rem;
}


.split-container .navigation-split-container .navigation {
	width: 100%;
	position: sticky;
	top: 0%;
}

.split-container .navigation-split-container a {
	text-decoration: none;
	font-family: 'Raleway', sans-serif;	
	font-size: 120%;
	line-height: 150%;
	display: inline-block;
	width: 100%;

}


.split-container .navigation-split-container a:hover {
  	color: #259447;
  	border-left: solid 0.25rem #259447;
	font-weight: bold;
}


.split-container .main-split-container {
	width: calc(100% - 20rem);
	display: inline-block;
	text-align: justify;
}


/* Responsive Layout ********************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/

@media (max-width: 50rem) { 
	.split-container {
		flex-direction: column;
	}

	.split-container .main-split-container {
		width: 100%;
	}

	.split-container .navigation-split-container {
		width: 100%;
		margin-bottom: 2.5rem;
		text-align: left;
	}
}